// ================================================================================================
// Typography styles
// ================================================================================================

body {
  color: map-get($colors, 'basic', 'black');
  font-family: 'Atma';
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Atma

@font-face {
  font-display: swap;
  font-family: 'Atma';
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/Atma.ttf') format('truetype');
}
