// ================================================================================================
// Footer styles
// ================================================================================================

.footer {
  background-color: map-get($colors, 'toggle-switch', 'default-gray-light');
  border-top: 0.1rem solid darken(map-get($colors, 'toggle-switch', 'default-gray-light'), 15%);
  color: map-get($colors, 'basic', 'black');
  flex-shrink: 0;
  font-size: 1.4rem;
  padding: map-get($spaces, 'xs') 0;
  text-align: center;
}
