// ================================================================================================
// Board styles
// ================================================================================================

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.board__row {
  display: flex;
  flex-direction: row;
}
