// ================================================================================================
// Score styles
// ================================================================================================

.score {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 1.8rem;
  gap: 2.5rem;
  justify-content: center;
  padding: 4.8rem 1.6rem 6.4rem;
  text-align: center;
  white-space: pre;
  @include drop-shadow(0.1rem, 0.1rem, 0.1rem, map-get($colors, 'shadow', 'black-25'));
}

.score__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.score__turn {
  color: map-get($colors, 'application', 'red');
}

// Landscape phones

@media (min-width: map-get($breakpoints, 'sm')) {
  .score {
    font-size: 2rem;
    gap: 3rem;
    @include drop-shadow(0.2rem, 0.2rem, 0.2rem, map-get($colors, 'shadow', 'black-25'));
  }
}

// Tablets

@media (min-width: map-get($breakpoints, 'md')) {
  .score {
    font-size: 2.4rem;
    gap: 4.5rem;
    @include drop-shadow(0.3rem, 0.3rem, 0.3rem, map-get($colors, 'shadow', 'black-25'));
  }
}

// Desktops

@media (min-width: map-get($breakpoints, 'lg')) {
  .score {
    font-size: 2.6rem;
    gap: 5rem;
    @include drop-shadow(0.4rem, 0.4rem, 0.4rem, map-get($colors, 'shadow', 'black-25'));
  }
}
