// ================================================================================================
// Score styles
// ================================================================================================

.score {
  font-size: map-get($font-sizes, 'lg');
  gap: 50px;
  justify-content: center;
  padding: map-get($spaces, 'xxl') map-get($spaces, 'md') map-get($spaces, 'xl');
  text-align: center;
  @include drop-shadow(1px, 1px, 1px, map-get($colors, 'shadow', 'black-50'));

  @media screen and (max-width: map-get($breakpoints, 'sm')) {
    font-size: 2rem;
  }
}

.score__container {
  gap: 6px;
}

.score__player {
  align-items: center;
  gap: 10px;
}

.score__img {
  height: 24px;
  width: 24px;
  @include drop-shadow(1px, 1px, 1px, map-get($colors, 'shadow', 'black-50'));

  @media screen and (max-width: map-get($breakpoints, 'sm')) {
    height: 20px;
    width: 20px;
  }
}
