// ================================================================================================
// Cell styles
// ================================================================================================

.square {
  @include drop-shadow(0.3rem, 0.3rem, 0.3rem, map-get($colors, 'shadow', 'black-25'));
  @include user-select(none);

  &.top {
    border-top: 0.8rem solid map-get($colors, 'basic', 'black');
  }

  &.right {
    border-right: 0.8rem solid map-get($colors, 'basic', 'black');
  }

  &.bottom {
    border-bottom: 0.8rem solid map-get($colors, 'basic', 'black');
  }

  &.left {
    border-left: 0.8rem solid map-get($colors, 'basic', 'black');
  }

  @media screen and (max-width: map-get($breakpoints, 'sm')) {
    @include drop-shadow(0.2rem, 0.2rem, 0.2rem, map-get($colors, 'shadow', 'black-25'));

    &.top,
    &.right,
    &.bottom,
    &.left {
      border-width: 0.6rem;
    }
  }
}

.square__button {
  background: none;
  border: 0;
  display: block;
  height: 152px;
  padding: 0;
  width: 152px;

  @media screen and (max-width: map-get($breakpoints, 'sm')) {
    height: 104px;
    width: 104px;
  }
}

.square__symbol {
  height: 108px;
  width: 108px;

  @media screen and (max-width: map-get($breakpoints, 'sm')) {
    height: 72px;
    width: 72px;
  }
}
