// ================================================================================================
// Square styles
// ================================================================================================

.square {
  border-width: 0.6rem;

  &.top {
    border-top-style: solid;
  }

  &.right {
    border-right-style: solid;
  }

  &.bottom {
    border-bottom-style: solid;
  }

  &.left {
    border-left-style: solid;
  }
}

.square--dark {
  border-color: map-get($colors, 'basic', 'white');
}

.square--light {
  border-color: map-get($colors, 'basic', 'black');
}

.square__button {
  background: none;
  border: 0;
  display: block;
  height: 96px;
  padding: 0;
  width: 96px;
}

.square__symbol {
  height: 64px;
  pointer-events: none;
  width: 64px;
}

.square__symbol--dark {
  filter: invert(100%) sepia(1%) saturate(106%) hue-rotate(299deg) brightness(116%) contrast(96%); // HEX: #FAFAFA
}

.square__symbol--light {
  filter: invert(0%) sepia(0%) saturate(7480%) hue-rotate(59deg) brightness(97%) contrast(105%); // HEX: #000000
}

// Landscape phones

@media (min-width: map-get($breakpoints, 'sm')) {
  .square {
    border-width: 0.7rem;
  }

  .square__button {
    height: 108px;
    width: 108px;
  }

  .square__symbol {
    height: 72px;
    width: 72px;
  }
}

// Tablets

@media (min-width: map-get($breakpoints, 'md')) {
  .square {
    border-width: 0.9rem;
  }

  .square__button {
    height: 136px;
    width: 136px;
  }

  .square__symbol {
    height: 90px;
    width: 90px;
  }
}

// Desktops

@media (min-width: map-get($breakpoints, 'lg')) {
  .square {
    border-width: 1rem;
  }

  .square__button {
    height: 148px;
    width: 148px;
  }

  .square__symbol {
    height: 98px;
    width: 98px;
  }
}
